<div class="row">
  <div class="col-9">
    <div class="list-group" id="coverage-feed">
      <% posts.each do |post| %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <div class="row align-items-center" style="width: 100%">
            <div class="col-2">
              <%= image_tag(gravatar_url(post.user.email, 64), class: "rounded-circle") %>
            </div>
            <div class="col-10">
              <%= post.display_content %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-3">
    <h3 class="text-center">Current Set</h3>
    <div class="predictions">
      <% @tournament.matches.where(current: true).each do |match| %>
        <div class="prediction">
          <div class="team-row">
            <h5><%= match.home_team.name %>
            <span class="scoreBox <%= match.prediction.home_team_guess > match.prediction.away_team_guess ? "winner" : "loser" %>">
              <%= (match.prediction.home_team_guess * 100).round(2) %>%
              </span>
              <span class="scoreBox" id="home-team-<%= match.home_team_id %>">
                <%= match.home_team_score %>
              </span>
            </h5>
          </div>
          <div class="team-row">
            <h5><%= match.away_team.name %>
            <span class="scoreBox <%= match.prediction.away_team_guess > match.prediction.home_team_guess ? "winner" : "loser" %>">
              <%= (match.prediction.away_team_guess * 100).round(2) %>%
              </span>
              <span class="scoreBox" id="away-team-<%= match.away_team_id %>" >
                <%= match.away_team_score %>
              </span>
            </h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr />

<% if user_signed_in? %>
  <%= simple_form_for([@tournament, @post], remote: true) do |f| %>
    <%= f.text_area :content, class: "form-control", row: 3 %>
    <br />
    <%= f.submit "Submit", class: "btn btn-primary", id: "micropost-submit" %>
  <% end %>
<% end %>
