<h1>Predictions</h1>

<div class="predictions" id="predictions">
  <% matches.each do |match| %>
    <div class="prediction">
      <div class="team-row">
        <h6><%= match.home_team.team.display_name %>
        <span class="scoreBox <%= match.prediction.home_team_guess > match.prediction.away_team_guess ? "winner" : "loser" %>">
          <%= "#{(match.prediction.home_team_guess * 100).round(2)}%" %>
        </span>
        <span class="scoreBox" id="home-team-<%= match.home_team_id %>">
          <%= match.home_team_score %>
        </span>
        </h6>
      </div>
      <div class="team-row">
        <h6><%= match.away_team.team.display_name %>
        <span class="scoreBox <%= match.prediction.away_team_guess > match.prediction.home_team_guess ? "winner" : "loser" %>">
          <%= "#{(match.prediction.away_team_guess * 100).round(2)}%" %>
        </span>
        <span class="scoreBox" id="away-team-<%= match.away_team_id %>" >
          <%= match.away_team_score %>
        </span>
        </h6>
      </div>
    </div>
  <% end %>
</div>
