<div class="row">
  <div class="col">
    <h3>Group A</h3>
    <table class="table tournament-standings">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Wins</th>
        </tr>
      </thead>
      <tbody>
        <% teams.where(group: "A").order(wins: :desc).each do |team| %>
          <tr>
            <td><%= team.team.name %></td>
            <td><%= team.wins %> - <%= team.losses %></td>
            <td><%= team.points %></td>
            <td><%= team.wins %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h3>Group B</h3>
    <table class="table tournament-standings">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Wins</th>
        </tr>
      </thead>
      <tbody>
        <% teams.where(group: "B").order(wins: :desc).each do |team| %>
          <tr>
            <td><%= team.team.name %></td>
            <td><%= team.wins %> - <%= team.losses %></td>
            <td><%= team.points %></td>
            <td><%= team.wins %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h3>Group C</h3>
    <table class="table tournament-standings">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Wins</th>
        </tr>
      </thead>
      <tbody>
        <% teams.where(group: "C").order(wins: :desc).each do |team| %>
          <tr>
            <td><%= team.team.name %></td>
            <td><%= team.wins %> - <%= team.losses %></td>
            <td><%= team.points %></td>
            <td><%= team.wins %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h3>Group D</h3>
    <table class="table tournament-standings">
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Score</th>
          <th>Wins</th>
        </tr>
      </thead>
      <tbody>
        <% teams.where(group: "D").order(wins: :desc).each do |team| %>
          <tr>
            <td><%= team.team.name %></td>
            <td><%= team.wins %> - <%= team.losses %></td>
            <td><%= team.points %></td>
            <td><%= team.wins %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
