<% @leagues.each do |league| %>
  <h3><%= league.name %></h3>
  <hr />
  <% league.tournaments.order(start_date: :desc).each do |tournament| %>
    <%= link_to tournament_path(tournament) do %>
      <div class="card">
        <% if tournament.thumbnail.attached? %>
          <%= image_tag(tournament.thumbnail, class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h4 class="card-text"><%= tournament.name %></h4>
        </div>
      </div>
    <% end %>
  <% end %>
  <br/>
<% end %>


<% if user_signed_in? %>
  <%= link_to "New tournament", new_tournament_path, class: "btn btn-primary" %>
<% end %>
