<%= simple_form_for [tournament, match] do |f| %>
  <div class="row">
    <input type="hidden" id="tournamentId" value="<%= tournament.id %>" />
    <div class="col">
      <div class="form-group">
        <label for="division-select">Division</label>
        <select class="form-control" id="division-select">
          <option value="pro">Pro</option>
          <option value="semipro">Semi-pro</option>
          <option value="3">Division 3</option>
          <option value="4">Division 4</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :home_team_id %>
        <%= f.select :home_team_id, @tournament.registered_teams.joins(:team).order("name ASC").collect { |team| [team.team.name, team.id ] }, {}, { class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :home_team_score %>
        <%= f.number_field :home_team_score, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :away_team_id %>
        <%= f.select :away_team_id, @tournament.registered_teams.joins(:team).order("name ASC").collect { |team| [team.team.name, team.id ] }, {}, { class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :away_team_score %>
        <%= f.number_field :away_team_score, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :round %>
        <%= f.select :round, ["Prelims", "Quarter-finals", "Semi-finals", "Finals"], {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :winner_id %>
        <%= f.select :winner_id, @tournament.registered_teams.joins(:team).order("name ASC").collect { |team| [team.team.name, team.id ] }, {include_blank: true}, { class: "form-control"} %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :completed %>
        <%= f.select :completed, [:false, :true], {}, { class: "form-control" } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :current %>
        <%= f.select :current, [:false, :true], {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= f.label :day %>
        <%= f.select :day, ["Friday", "Saturday", "Sunday"], {}, { class: "form-control" } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
